{% include "dashboard_header.html" with context %}
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>Dashboard</h1>
          <small>{{session['selected_subscription']['displayName']}}({{session['selected_subscription']['subscriptionId']}})</small>
        </section>

        <!-- Main content -->
        <section class="content container-fluid">
          HOGEHOGE
        </section>
        <!-- /.content -->

{% include "dashboard_footer.html" with context %}
